
.text{
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
}
.media {
  display: flex;                 
  flex-wrap: wrap;               
  justify-content: space-around; 
  align-items: flex-start;       
  width: 100%;                 
  padding: 20px;                
  gap: 20px;                    
  box-sizing: border-box;        
}


.media .card {
  flex: 1 1 300px;              
  max-width: 400px;             
  min-width: 300px;            
  margin: 10px;                 
}
@media (max-width: 768px) {
  .media {
    justify-content: center;  
  }
}